li:hover {
  background-color: #CCCC52;
}

li {
  list-style-type: none;
  font-size: 16pt;
  padding: 5px;
}

.selected {
  background-color: red;
}

.racer-menu {
  position: relative;
}

ul {
  position: absolute;
  top: 3em;
}
